apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "pvpipe.fullname" . }}-common-env
  labels:
    {{- include "pvpipe.labels" . | nindent 4 }}
    app.kubernetes.io/component: common-config
data:
  {{- if .Values.pgbouncer.enabled }}
  # PgBouncer connection pooler URL
  PGBOUNCER_HOST: "{{ include "pvpipe.fullname" . }}-pgbouncer"
  PGBOUNCER_PORT: "5432"
  {{- end }}
  # Authentication service URL for internal calls
  {{- if .Values.msAuth.enabled }}
  AUTH_SERVICE_URL: "http://{{ .Release.Name }}-ms-auth:{{ .Values.msAuth.servicePort }}"
  {{- end }}
  # Notifications service URL for internal calls (now handled by ms-workspace)
  {{- if .Values.msWorkspace.enabled }}
  NOTIFICATIONS_SERVICE_URL: "http://{{ .Release.Name }}-ms-workspace-api:{{ .Values.msWorkspace.api.servicePort }}"
  {{- end }}
  # Workspace service URL for internal calls
  {{- if .Values.msWorkspace.enabled }}
  WORKSPACE_SERVICE_URL: "http://{{ .Release.Name }}-ms-workspace-api:{{ .Values.msWorkspace.api.servicePort }}"
  {{- end }}
  # Redis connection
  REDIS_HOST: "{{ .Release.Name }}-redis"
  REDIS_PORT: "6379"
  # Other common services
  {{- if .Values.gotenberg.enabled }}
  GOTENBERG_URL: "http://{{ .Release.Name }}-gotenberg:3000"
  {{- end }}
  {{- if .Values.vnptsignpdf.enabled }}
  VNPTSIGNPDF_URL: "http://{{ .Release.Name }}-vnptsignpdf:8080"
  {{- end }}
  {{- if .Values.localsignpdf.enabled }}
  LOCALSIGNPDF_URL: "http://{{ .Release.Name }}-localsignpdf:8080"
  {{- end }}